@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar a.active {
    background: gray;
    font-size: large;
    border-bottom: 0.2em solid black;
}

.link-page:hover {
    font-size: large;
}
