@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.navbar a.active {
    font-size: large;
    color: gray;
}

.link-page:hover {
    font-size: large;
}
